# Python
__pycache__/
*.pyc

# Ansible retry files
*.retry

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp

# ==========================
# Ansible secrets
# ==========================
ansible/group_vars/vault.yml

# Backup files
*.bak
